<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hongjolim.mfmanager">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.hongjolim.mfmanager.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="com.hongjolim.mfmanager.database.DataProvider"
            android:authorities="com.hongjolim.mfmanager.dataprovider"
            android:exported="false" />

        <activity
            android:name="com.hongjolim.mfmanager.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.hongjolim.mfmanager.SettingAccountsActivity"
            android:label="Add Accounts"
            android:parentActivityName="com.hongjolim.mfmanager.ShowingAccountsActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.ShowingAccountsActivity"
            android:label="My Accounts"
            android:parentActivityName="com.hongjolim.mfmanager.MainActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.BudgetActivity"
            android:label="Budget"
            android:parentActivityName="com.hongjolim.mfmanager.MainActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.ShowingExpensesActivity"
            android:label="Expense"
            android:parentActivityName="com.hongjolim.mfmanager.MainActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.AddingExpenseActivity"
            android:label="Add Expense"
            android:parentActivityName="com.hongjolim.mfmanager.MainActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.AddingIncomeActivity"
            android:label="Add Income"
            android:parentActivityName="com.hongjolim.mfmanager.ShowingIncomeActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.ShowingIncomeActivity"
            android:label="Income"
            android:parentActivityName="com.hongjolim.mfmanager.MainActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.ShowingExpensesDetailActivity"
            android:label="Expense Detail"
            android:parentActivityName="com.hongjolim.mfmanager.ShowingExpensesActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.ShowingIncomeDetailActivity"
            android:label="Income Detail"
            android:parentActivityName="com.hongjolim.mfmanager.ShowingIncomeActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.TransferActivity"
            android:label="@string/transfer"
            android:parentActivityName="com.hongjolim.mfmanager.MainActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.IncomeCategoryActivity"
            android:label="Income Category"
            android:parentActivityName="com.hongjolim.mfmanager.MainActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.ShowingCreditActivity"
            android:label="Credit Cards"
            android:parentActivityName="com.hongjolim.mfmanager.MainActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.AddingCreditActivity"
            android:label="Adding Cards"
            android:parentActivityName="com.hongjolim.mfmanager.ShowingCreditActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.ShowingCreditDetailActivity"
            android:label="Credit Detail"
            android:parentActivityName="com.hongjolim.mfmanager.ShowingCreditActivity" />
        <activity
            android:name="com.hongjolim.mfmanager.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.hongjolim.mfmanager.PreferencesActivity"
            android:label="Settings"
            android:parentActivityName="com.hongjolim.mfmanager.MainActivity" />
        <activity android:name="com.hongjolim.mfmanager.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>